## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
#from config import g_key

# Configure gmaps API key
gmaps.configure(api_key="AIzaSyBd-P_2b7GXBfEfTohJ6v0wMYCyAEH3Qkc")

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Current Temperature,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Pisco,0,clear sky,78,-13.7000,-76.2167,69.85,8.05
1,1,Yellowknife,33,scattered clouds,98,62.4560,-114.3525,-13.47,5.66
2,2,Ponta Delgada,40,scattered clouds,72,37.7333,-25.6667,57.92,10.36
3,3,Busselton,1,clear sky,32,-33.6500,115.3333,86.94,8.75
4,4,Barrow,0,clear sky,70,71.2906,-156.7887,-12.98,8.05

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature?"))
max_temp = float(input("What is the maximum temperature?"))

What is the minimum temperature? 0
What is the maximum temperature? 70

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                (city_data_df["Max Temp"] >= min_temp)]

In [8]:
# 4a. Determine if there are any empty rows.
filtered_cities_df = filtered_cities_df.dropna()

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = filtered_cities_df.dropna()

clean_df.head(10)

,City_ID,City,Cloudiness,Current Temperature,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Pisco,0,clear sky,78,-13.7000,-76.2167,69.85,8.05
2,2,Ponta Delgada,40,scattered clouds,72,37.7333,-25.6667,57.92,10.36
5,5,Ribeira Grande,100,overcast clouds,59,38.5167,-28.7000,58.32,18.66
7,7,Evensk,37,scattered clouds,59,61.9500,159.2333,25.86,18.28
9,9,Atherton,100,overcast clouds,81,53.5237,-2.4935,53.29,1.99
14,14,Khandyga,100,overcast clouds,87,62.6667,135.6000,8.01,3.00
16,16,Hovd,0,clear sky,50,48.0056,91.6419,24.21,11.70
19,19,Punta Arenas,75,broken clouds,71,-53.1500,-70.9167,55.51,20.71
24,24,Bayan,8,clear sky,70,46.0833,127.4000,29.79,16.75
25,25,Luau,100,overcast clouds,95,-10.7073,22.2247,65.66,1.16

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City  Max Temp      Lat       Lng Hotel Name
0            Pisco     69.85 -13.7000  -76.2167
2    Ponta Delgada     57.92  37.7333  -25.6667
5   Ribeira Grande     58.32  38.5167  -28.7000
7           Evensk     25.86  61.9500  159.2333
9         Atherton     53.29  53.5237   -2.4935
14        Khandyga      8.01  62.6667  135.6000
16            Hovd     24.21  48.0056   91.6419
19    Punta Arenas     55.51 -53.1500  -70.9167
24           Bayan     29.79  46.0833  127.4000
25            Luau     65.66 -10.7073   22.2247

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": "AIzaSyBd-P_2b7GXBfEfTohJ6v0wMYCyAEH3Qkc"
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url  = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel Not Found... skipping...")

Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...

In [20]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_df.dropna()

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "Weather_Database/Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

KeyError: 'Hotel Name'

In [12]:
# 11a. Add a marker layer for each city to the map. 
market_layer = gmaps.market_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig